body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(left, #f4f4fe, #2d2d05 19.09854851031321%, #2d2d05 80.90145148968676%, #f4f4fe 100%);
  background: -moz-linear-gradient(left, #f4f4fe, #2d2d05 19.09854851031321%, #2d2d05 80.90145148968676%, #f4f4fe 100%);
  background: -o-linear-gradient(left, #f4f4fe, #2d2d05 19.09854851031321%, #2d2d05 80.90145148968676%, #f4f4fe 100%);
  background: -ms-linear-gradient(left, #f4f4fe, #2d2d05 19.09854851031321%, #2d2d05 80.90145148968676%, #f4f4fe 100%);
  background: linear-gradient(to right, #f4f4fe, #2d2d05 19.09854851031321%, #2d2d05 80.90145148968676%, #f4f4fe 100%);
}
a {
  color: #008fbf;
}
h1 {
  padding: 15px;
  margin: 0px;
}
header {
  background-color: #2d2d05;
  color: #f4f4fe;
  margin-top: 0px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
article {
  color: #2d2d05;
  background-color: #f4f4fe;
  margin: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-box-shadow: inset 0 0 7.5px #2d2d05;
  box-shadow: inset 0 0 7.5px #2d2d05;
}
article footer {
  text-align: center;
}
p {
  margin: 0;
  padding: 14px;
}
blockquote {
  background-color: #fafad2;
  -webkit-box-shadow: 0 0 7.5px 3.75px #c4c4b1;
  box-shadow: 0 0 7.5px 3.75px #c4c4b1;
}
blockquote footer {
  background-color: #f1f1ad;
  text-align: right;
}
blockquote footer p {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
@media (min-width 500px) {
  body {
    padding: 50px;
  }
}
