body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1 {
  background-color: #0000e6;
  color: #dadb0c;
}
@media (max-width: 500px) {
  body {
    padding: 15px;
  }
}
